{% block element %}
    {% if element.type == 'text' %}
        <label for="{{ element.type }}-{{ loop.index }}">
            {{ element.label }}
            <input type="text"
                   id="{{ element.type }}-{{ loop.index }}"
                   name="{{ element.name }}"
            >
        </label>
    {% elseif element.type == 'number' %}
        <label for="{{ element.type }}-{{ loop.index }}">
            {{ element.label }}
            <input type="number"
                   id="{{ element.type }}-{{ loop.index }}"
                   name="{{ element.name }}">
        </label>
    {% elseif element.type == 'textarea' %}
        <label for="{{ element.type }}-{{ loop.index }}">
            {{ element.label }}
            <textarea id="{{ element.type }}-{{ loop.index }}"
                      name="{{ element.name }}">

            </textarea>
        </label>
    {% elseif element.type == 'paragraph' %}
        <p id="{{ element.type }}-{{ loop.index }}">
            {{ element.label }}
        </p>
    <!--
    {% elseif element.type == 'button' %}
        <input type="button"
               class="button m-t"
               id="{{ element.type }}-{{ loop.index }}"
               name="{{ element.name }}"
               value="{{ element.label }}">
    -->
    {% elseif element.type == 'date' %}
        <label for="{{ element.type }}-{{ loop.index }}">
            {{ element.label }}
            <input type="text"
                   id="{{ element.type }}-{{ loop.index }}"
                   name="{{ element.name }}"
                   class="form-datepicker">
        </label>
    {% elseif element.type == 'checkbox-group' %}
        <label>
            {{ element.label }}
            {% for checkbox in element.values %}
                <label>
                    <input type="checkbox"
                           name="{{ element.name }}"
                           value="{{ checkbox.value }}"
                            {% if checkbox.selected is defined and checkbox.selected == true %}
                                checked="true"
                            {% endif %}
                    >
                    {{ checkbox.label }}
                </label>
            {% endfor %}
        </label>
    {% elseif element.type == 'radio-group' %}
        <label>
            {{ element.label }}
            {% for radio in element.values %}
                <label>
                    <input type="radio"
                           name="{{ element.name }}"
                           value="{{ radio.value }}"
                            {% if radio.selected is defined and radio.selected == true %}
                                selected="true"
                            {% endif %}
                    >
                    {{ radio.label }}
                </label>
            {% endfor %}
        </label>
    {% else %}
        {{ element.name }}<br/>
    {% endif %}
{% endblock %}